@inherits LayoutComponentBase

<PageTitle>Cinema</PageTitle>

<style>
    body{
        @* width:100%;
        height : 100%; *@
    }

    .page-footer {
background-color: black;
border-top: 1px solid black;
border-bottom: 2px solid black;
border-radius:5px 5px 0px 0px;
position: fixed;
bottom: 0;
color: black;
text-align: right;
width:100%;
font-size:smaller;
font-style:oblique;
</style>

<div class="page">
    @* <div class="sidebar">
     @* <NavMenu />  *@

    @* </div> *@
    @* <NavMenu /> *@
    @* <NavMenu /> *@

    <main class = "container">
        @* <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div> *@

        
            @Body
        
    </main>
     
    <div class="page-footer">
        @* <p  style="margin:5px 10px 5px 0px;"></p> *@
        @* *@
<div class  = "container-fluid text-center" style = "color:black;">
            <p style="margin:5px 10px 5px 0px ;">
                @* copyrighted by navin *@
            </p>
                <p style="margin:5px 10px 5px 0px">
                    <font color = "white">
                copyrighted by navin
                </font>
            </p>
            

        </div>
    </div>
    </div>
    
@* </div> *@
